<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0">
                <div class="card-header py-3">
                    <h4 class="mb-0 text-start fw-medium">New Order Information</h4>
                </div>
                <div class="card-body p-3">
                    <div class="container">
                        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <div class="left-side-view">
                                        <div class="row align-items-center">
                                            <label class="col-sm-5 col-form-label text-end small">Order ID :</label>
                                            <div class="col-sm-7">

                                                <input type="text"
                                                    class="form-control form-control-sm border-secondary-subtle bg-light"
                                                    formControlName="orderId" readonly />
                                            </div>
                                        </div>

                                        <div class="row mb-0 align-items-center">
                                            <label class="col-sm-5 col-form-label text-end small">Order Date :</label>
                                            <div class="col-sm-7">
                                                <input type="text"
                                                    class="form-control form-control-sm border-secondary-subtle bg-light"
                                                    formControlName="orderDate" readonly />
                                            </div>
                                        </div>

                                        <div class="row mb-0 align-items-center">
                                            <label class="col-sm-5 col-form-label text-end small">
                                                <span class="text-danger">*</span> Priority :
                                            </label>
                                            <div class="col-sm-7">
                                                <select class="form-select form-select-sm" formControlName="priority">

                                                    <option value="">-- Select Priority --</option>
                                                    @for (item of PriorityList; track $index) {
                                                    <option [value]="item">{{ item }}</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-0 align-items-center">
                                            <label class="col-sm-5 col-form-label text-end small">PO # :</label>
                                            <div class="col-sm-7 d-flex align-items-center">
                                                <div class="form-check form-check-inline mb-0 me-2">

                                                    <input class="form-check-input mt-1 border-dark-subtle" type="radio" name="poNumber"
                                                        id="poYes" value="yes" formControlName="poNumber" />
                                                    <label class="form-check-label small ms-1" for="poYes">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input mt-1 border-dark-subtle" type="radio" name="poNumber"
                                                        id="poNo" value="no" formControlName="poNumber" />
                                                    <label class="form-check-label small ms-1" for="poNo">No</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-0 mt-1 align-items-start">
                                            <label class="col-sm-5 col-form-label text-end small">Comments :</label>
                                            <div class="col-sm-7 d-flex align-items-center">
                                                <textarea class="form-control form-control-sm" rows="2"
                                                    formControlName="comments"></textarea>
                                            </div>
                                        </div>

                                        <div class="row mb-0 mt-2 align-items-start">
                                            <label class="col-sm-5 col-form-label text-end small fw-small">
                                                Test Comments :
                                            </label>
                                            <div class="col-sm-7">

                                                <textarea
                                                    class="form-control form-control-sm border-secondary-subtle small"
                                                    rows="3" formControlName="testComment"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- right side box -->
                                <div class="col-lg-8">
                                    <div class="right-side-view">
                                        <div class="row mb-0  align-items-center">
                                            <label class="col-sm-3 col-form-label text-end small">
                                                <span class="text-danger">*</span> Customer ID :
                                            </label>
                                            <div class="col-sm-8  d-flex align-items-center">
                                                <select class="form-select form-select-sm border-secondary-subtle me-2"
                                                    style="flex: 1;" formControlName="customerId">
                                                    <option value="">-- Select Customer --</option>
                                                    @for (item of CustomerIdList; track $index) {
                                                    <option [value]="item">{{ item }}</option>
                                                    }
                                                </select>
                                                <a routerLink="/newLoginOrdersinfo"
                                                    class="small text-primary fw-medium clickable-link">
                                                    More Info
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row mb-0  align-items-center">
                                            <div class="col-sm-3 col-form-label text-end small">
                                                <span> </span>
                                            </div>
                                            <div class="col-sm-8 ">
                                                <input type="text" class="form-input-sm small "
                                                    formControlName="customerName" />
                                            </div>
                                        </div>
                                        <!-- inovice type of checkboxes-->
                                        <div class="row mb-1" formGroupName="invoiceTypes">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9 d-flex flex-wrap gap-1 text-danger small fw-semibold">

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="basic"
                                                        formControlName="basic">
                                                    <label class="form-check-label" for="basic">Invoice Basic</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="details"
                                                        formControlName="details">
                                                    <label class="form-check-label" for="details">Invoice
                                                        Details</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="hardCopy"
                                                        formControlName="hardCopy">
                                                    <label class="form-check-label" for="hardCopy">Invoice Hard
                                                        Copy</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="cocReq"
                                                        formControlName="cocReq">
                                                    <label class="form-check-label" for="cocReq">COC Req.</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- customer contacts -->
                                        <div class="row mb-3  align-items-center">
                                            <label class="col-sm-3 col-form-label text-end small">
                                                <span class="text-danger">*</span> Customer Contacts :
                                            </label>
                                            <div class="col-sm-6  d-flex align-items-center">
                                                <select class="form-select form-select-sm border-dark-subtle me-2"
                                                    style="flex: 1;" formControlName="customerContacts">
                                                    <option value="">-- Select Customer --</option>
                                                    @for (item of CustomerContactList; track $index) {
                                                    <option [value]="item">{{ item }}</option>
                                                    }
                                                </select>
                                                <a routerLink="/newLoginOrdersinfo"
                                                    class="small text-dark fw-bold clickable-link me-2 ">
                                                    Add New
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Billing Contacts -->
                                        <div class="row   align-items-center">
                                            <label class="col-sm-3 col-form-label text-end small">
                                                <span class="text-danger">*</span> Billing Contacts :
                                            </label>
                                            <div class="col-sm-5  d-flex align-items-center">
                                                <select class="form-select form-select-sm border-dark-subtle me-2"
                                                    style="flex: 1;" formControlName="billingContacts">
                                                    <option value="">-- Select Customer --</option>
                                                    @for (item of CustomerContactList; track $index) {
                                                    <option [value]="item">{{ item }}</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>


                                        <!-- Project Ids -->
                                        <div class="row mb-3  align-items-center">
                                            <label class="col-sm-3 col-form-label text-end small">
                                                <span class="text-danger">*</span> Project ID :
                                            </label>
                                            <div class="col-sm-5  d-flex align-items-center">
                                                <select class="form-select form-select-sm border-dark-subtle me-2"
                                                    style="flex: 1;" formControlName="projectId">
                                                    <option value="">-- Select Customer --</option>
                                                    @for (item of projectIdList; track $index) {
                                                    <option [value]="item">{{ item }}</option>
                                                    }
                                                </select>
                                                <a routerLink="/newLoginOrdersinfo"
                                                    class="small text-dark fw-bold clickable-link ">
                                                    Add New
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Quotation checkbox -->
                                        <div class="row mb-2" formGroupName="quotationType">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9 d-flex flex-wrap gap-1  small fw-semibold">
                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="radio" id="quotation"
                                                        formControlName="type" name="type" value="quotation">
                                                    <label class="form-check-label" for="quotation">Quotation</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="radio" id="others"
                                                        formControlName="type" name="type" value="others">
                                                    <label class="form-check-label" for="others">Others</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Edd Format list  -->
                                        <div class="row">

                                            <!-- LEFT SIDE - EDD FORMAT -->
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-6" formGroupName="eddFormats">

                                                @for (num of [1,2,3,4,5,6,7,8,9,10,11,12]; track $index) {
                                                <div class="row mb-0 align-items-center">
                                                    <div class="col-sm-3"></div>
                                                    <label class="col-sm-4 col-form-label text-start small">
                                                        Edd Format{{num}} :
                                                    </label>
                                                    <div class="col-sm-5">
                                                        <select class="form-select form-select-sm"
                                                            [formControlName]="'eddFormat' + num">
                                                            <option value="">--SELECT--</option>
                                                            @for (item of eddFormatList; track $index) {
                                                            <option [value]="item">{{ item }}</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                }

                                            </div>

                                            <!-- RIGHT SIDE - CRITERIA -->
                                            <div class="col-sm-5" formGroupName="criterias">

                                                @for (num of [1,2,3,4,5,6,7,8,9,10,11,12]; track $index) {
                                                <div class="row mb-0 align-items-center">
                                                    <div class="col-sm-2"></div>
                                                    <label class="col-sm-4 col-form-label text-start small">
                                                        Criteria{{num}} :
                                                    </label>
                                                    <div class="col-sm-6">
                                                        <select class="form-select form-select-sm"
                                                            [formControlName]="'criteria' + num">
                                                            @for (item of criteriaList; track $index) {
                                                            <option [value]="item">{{ item }}</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                }

                                            </div>

                                        </div>

                                        <!-- data packages types -->
                                        <div class="row   align-items-center">
                                            <div class="col-sm-2"></div>
                                            <label class="col-sm-3 col-form-label text-end small">
                                                <span class="text-danger">*</span> Data Package Type :
                                            </label>
                                            <div class="col-sm-4  d-flex align-items-center">
                                                <select class="form-select form-select-sm border-dark-subtle me-2"
                                                    style="flex: 1;" formControlName="dataPackageTypes">
                                                    <option value="Results Only" selected>Results Only</option>
                                                    @for (item of dataTypesList; track $index) {
                                                    <option [value]="item">{{ item }}</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>

                                        <!-- PM Comments -->
                                        <div class="row mb-0 mt-1 align-items-start">
                                            <label class="col-sm-3 col-form-label text-end fw-semibold small">PM Comment
                                                :</label>
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <textarea class="form-control form-control-sm" rows="2"
                                                    formControlName="pmComments"></textarea>
                                            </div>
                                        </div>
                                        <!-- CR Comments -->
                                        <div class="row mb-0 mt-1 align-items-start">
                                            <label class="col-sm-3 col-form-label text-end small fw-semibold">CR
                                                Comment:</label>
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <textarea class="form-control form-control-sm" rows="2"
                                                    formControlName="crComments"></textarea>
                                            </div>
                                        </div>
                                        <!-- sub projects -->
                                        <div class="row  mt-1 align-items-center">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-8  d-flex align-items-center">
                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="subProjects"
                                                        formControlName="subProjects">
                                                    <label class="form-check-label text-danger fw-semibold"
                                                        for="subProjects">Sub Projects?</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- edd comments check box -->

                                        <div class="row mb-1" formGroupName="eddCommentTypes">
                                            <div class="col-sm-3"></div>
                                            <div
                                                class="col-sm-9 d-flex flex-wrap gap-1 text-danger text-black small fw-semibold">

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="CC"
                                                        formControlName="eddComments">
                                                    <label class="form-check-label" for="CC">Comments</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="TC"
                                                        formControlName="testComments">
                                                    <label class="form-check-label" for="TC">Test Comments</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="PMC"
                                                        formControlName="pmComments">
                                                    <label class="form-check-label" for="PMC">PM Comments</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="checkbox" id="CRC"
                                                        formControlName="crComments">
                                                    <label class="form-check-label" for="CRC">CR Comments</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- comments data process types radiobox -->
                                        <div class="row mb-0 align-items-center">
                                            <label class="col-sm-3 col-form-label text-end fw-semibold px-4">Data Need
                                                to be Proccess ?</label>
                                            <div class="col-sm-7 d-flex align-items-center">
                                                <div class="form-check form-check-inline mb-0 me-2">

                                                    <input class="form-check-input border-dark-subtle" type="radio"
                                                        name="dataProcessTypes" id="regular" value="regular"
                                                        formControlName="dataProcessTypes" />
                                                    <label class="form-check-label small ms-1"
                                                        for="regular">Regular</label>
                                                </div>
                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="radio" name="dataProcessTypes"
                                                        id="DOD" value="DOD" formControlName="dataProcessTypes" />
                                                    <label class="form-check-label small ms-1" for="DOD">DOD</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0">
                                                    <input class="form-check-input border-dark-subtle" type="radio"
                                                        name="dataProcessTypes" id="NJDKQP" value="NJDKQP"
                                                        formControlName="dataProcessTypes" />
                                                    <label class="form-check-label small ms-1"
                                                        for="NJDKQP">NJDKQP</label>
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-primary" [disabled]="!orderForm.valid">Add
                                    New Order</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>