<div class="container-fluid bg-white py-4 px-5 border border-dark rounded-2 shadow-sm">
  <div class="row justify-content-center pt-5 border-1 rounded ">
    <div class="col-md-8 col-lg-6">
      
      <div class="row mb-3 align-items-center">
        <label class="col-sm-4 text-end fw-bold small pe-4">Select Customer ID :</label>
        <div class="col-sm-6">
          <select [(ngModel)]="selectedCustomerId" 
                  class="form-select form-select-sm border-secondary shadow-none rounded-0">
            <option value="" disabled selected>--Select--</option>
            @for (id of customerIds(); track id) {
              <option [value]="id">{{ id }}</option>
            }
          </select>
        </div>
      </div>

      <div class="row mb-2 align-items-center">
        <label class="col-sm-4 text-end fw-bold small pe-4">Select Projects :</label>
        <div class="col-sm-6">
          <select [(ngModel)]="selectedProject" 
                  class="form-select form-select-sm border-secondary shadow-none rounded-0">
            <option value="" disabled selected>--Select--</option>
            @for (proj of projects(); track proj) {
              <option [value]="proj">{{ proj }}</option>
            }
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-6 offset-sm-4 text-center">
          <span class="text-danger fw-bold small">OR</span>
        </div>
      </div>

      <div class="row mb-4 align-items-center">
        <label class="col-sm-4 text-end fw-bold small pe-4">Select Order ID :</label>
        <div class="col-sm-6">
          <select [(ngModel)]="selectedOrderId" 
                  class="form-select form-select-sm border-secondary shadow-none rounded-0">
            <option value="" disabled selected>--Select--</option>
            @for (order of orderIds(); track order) {
              <option [value]="order">{{ order }}</option>
            }
          </select>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6 offset-sm-4 text-end">
          <button (click)="goToNext()" 
                  class="btn btn-sm border-dark rounded-0 px-4 fw-bold shadow-sm"
                  style="background-color: #efefef; font-size: 13px;">
            Next &gt;&gt;
          </button>
        </div>
      </div>

    </div>
  </div>

</div>